@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');

@font-face {
  font-family: 'Gilroy-ExtraBold.';
    src: url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font/Gilroy-ExtraBold/Gilroy-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
};

@font-face {
  font-family: 'Gilroy-Light';
    src: url('font/Gilroy-Light/Gilroy-Light.eot'); /* IE9 Compat Modes */
    src: url('font/Gilroy-Light/Gilroy-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font/Gilroy-Light/Gilroy-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('font/Gilroy-Light/Gilroy-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('font/Gilroy-Light/Gilroy-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font/Gilroy-Light/Gilroy-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
};


@import "globals";
@import "Mainbody";
